In [132]:
import pandas as pd
import datetime
import sqlite3 
import time
from pykrx import stock

In [104]:
start_day = "20211127"
end_day = "20211201"

In [24]:
df = pd.read_csv('stock_list.csv')

In [135]:
kospi_df = df[df["시장구분"] == "KOSPI"]

In [136]:
kospi_df = kospi_df.head(10)

In [137]:
kospi_df = kospi_df.reset_index(drop = True)

In [138]:
kospi_df

     종목코드       종목명   시장구분
0  095570    AJ네트웍스  KOSPI
1  006840     AK홀딩스  KOSPI
2  027410       BGF  KOSPI
3  282330    BGF리테일  KOSPI
4  138930   BNK금융지주  KOSPI
5  001460       BYC  KOSPI
6  001465      BYC우  KOSPI
7  001040        CJ  KOSPI
8  079160    CJ CGV  KOSPI
9  00104K  CJ4우(전환)  KOSPI

In [100]:
kospi_df

     종목코드      종목명   시장구분
0  095570   AJ네트웍스  KOSPI
1  006840    AK홀딩스  KOSPI
2  027410      BGF  KOSPI
3  282330   BGF리테일  KOSPI
4  138930  BNK금융지주  KOSPI

In [133]:
for i in range(10):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9

In [149]:
stock_df_total = pd.DataFrame()
for i in range(len(kospi_df)):
    stock_code = kospi_df['종목코드'][i]
    stock_name = kospi_df['종목명'][i]
    market = kospi_df['시장구분'][i]
    
    stock_df = stock.get_market_ohlcv_by_date(fromdate=start_day, todate=end_day, ticker=stock_code)
    stock_df["종목명"] = stock_name
    stock_df["종목코드"] = stock_code
    stock_df["시장구분"] = market
    
    
    time.sleep(1)
    print(str(i) + " 번째 "+ stock_name)
    
    # 데이터 프레임 이어 붙히기
    stock_df_total = pd.concat([stock_df_total, stock_df])

0 번째 AJ네트웍스
1 번째 AK홀딩스
2 번째 BGF
3 번째 BGF리테일
4 번째 BNK금융지주
5 번째 BYC
6 번째 BYC우
7 번째 CJ
8 번째 CJ CGV
9 번째 CJ4우(전환)

In [141]:
stock_df_total.reset_index()
# stock_df

,날짜,시가,고가,저가,종가,거래량,종목명,종목코드,시장구분
0,2021-11-29,5600,5750,5480,5510,181622,AJ네트웍스,095570,KOSPI
1,2021-11-30,5580,5630,5190,5350,141270,AJ네트웍스,095570,KOSPI
2,2021-12-01,5300,5380,5170,5380,72085,AJ네트웍스,095570,KOSPI
3,2021-11-29,19500,20300,19150,20100,51924,AK홀딩스,006840,KOSPI
4,2021-11-30,19900,20300,18700,18950,44817,AK홀딩스,006840,KOSPI
5,2021-12-01,18950,19300,18550,19050,57400,AK홀딩스,006840,KOSPI
6,2021-11-29,5310,5400,5190,5220,490612,BGF,027410,KOSPI
7,2021-11-30,5250,5290,4910,4910,793483,BGF,027410,KOSPI
8,2021-12-01,4870,4975,4820,4940,256977,BGF,027410,KOSPI
9,2021-11-29,147500,151500,144000,147500,50470,BGF리테일,282330,KOSPI
10,2021-11-30,145000,148000,142000,146000,87399,BGF리테일,282330,KOSPI
11,2021-12-01,146000,146500,141000,143500,51220,BGF리테일,282330,KOSPI
12,2021-11-29,8300,8420,8260,8300,1709841,BNK금융지주,138930,KOSPI
13,2021-11-30,8280,8360,7930,8000,3127721,BNK금융지주,138930,KOSPI
14,2021-12-01,8050,8160,7900,8140,1106685,BNK금융지주,138930,KOSPI
15,2021-11-29,414500,442500,413500,440000,727,BYC,001460,KOSPI
16,2021-11-30,446000,446500,419000,419000,223,BYC,001460,KOSPI
17,2021-12-01,443500,443500,413500,418500,384,BYC,001460,KOSPI
18,2021-11-29,170000,170000,167500,170000,101,BYC우,001465,KOSPI
19,2021-11-30,169000,169500,166500,169500,158,BYC우,001465,KOSPI
20,2021-12-01,169500,170000,168500,170000,65,BYC우,001465,KOSPI
21,2021-11-29,83900,85000,82200,82700,86766,CJ,001040,KOSPI
22,2021-11-30,82800,83800,79600,80000,130331,CJ,001040,KOSPI
23,2021-12-01,79500,80900,79400,80300,91120,CJ,001040,KOSPI
24,2021-11-29,23000,23700,22700,22950,765033,CJ CGV,079160,KOSPI
25,2021-11-30,23050,23500,21800,22400,507745,CJ CGV,079160,KOSPI
26,2021-12-01,22400,22900,21700,22850,438707,CJ CGV,079160,KOSPI
27,2021-11-29,68800,71300,67500,68000,42314,CJ4우(전환),00104K,KOSPI
28,2021-11-30,68500,69600,65700,67500,30490,CJ4우(전환),00104K,KOSPI
29,2021-12-01,67300,67800,66500,67000,16700,CJ4우(전환),00104K,KOSPI

In [117]:
stock.get_market_ohlcv_by_date(fromdate=start_day, todate=end_day, ticker="079160")

               시가     고가     저가     종가     거래량
날짜
2021-11-29  23000  23700  22700  22950  765033
2021-11-30  23050  23500  21800  22400  507745
2021-12-01  22400  22900  21700  22850  438707

In [14]:
stock_df = stock_df.reset_index()

In [18]:
stock_df

            날짜     시가     고가     저가     종가       거래량   회사명
0   2021-01-04  81000  84400  80200  83000  38655276  ㅁㄴㅇㄹ
1   2021-01-05  81600  83900  81600  83900  35335669  ㅁㄴㅇㄹ
2   2021-01-06  83300  84500  82100  82200  42089013  ㅁㄴㅇㄹ
3   2021-01-07  82800  84200  82700  82900  32644642  ㅁㄴㅇㄹ
4   2021-01-08  83300  90000  83000  88800  59013307  ㅁㄴㅇㄹ
..         ...    ...    ...    ...    ...       ...   ...
222 2021-11-25  75100  75100  73600  73700  12559258  ㅁㄴㅇㄹ
223 2021-11-26  73500  74100  72000  72300  13002242  ㅁㄴㅇㄹ
224 2021-11-29  71700  73000  71400  72300  16682559  ㅁㄴㅇㄹ
225 2021-11-30  73200  73900  70500  71300  30364841  ㅁㄴㅇㄹ
226 2021-12-01  72000  74800  71600  74400  21954856  ㅁㄴㅇㄹ

[227 rows x 7 columns]

In [17]:
stock_df["회사명"] = "ㅁㄴㅇㄹ"