In [1]:
# sqlite3를 import 하기 
import sqlite3

In [2]:
# employee.db가 없을 경우 새로 생성하며 연결
# employee.db가 있을경우 해당 db로 연걸
conn = sqlite3.connect("employee.db")

# conn.cursor을 통해 Cursor를 하나 생성
cur = conn.cursor()
_
# conn.execute를 통해 employee_data 테이블을 생성합니다.
conn.execute('CREATE TABLE employee_data(id INTEGER, name TEXT, nickname TEXT, department TEXT, employment_date TEXT)')

# cur.executemany를 통해 데이터를 INSERT합니다.
cur.executemany(
    'INSERT INTO employee_data VALUES (?, ?, ?, ?, ?)',
    [(1001, 'Donghyun', 'SOMJANG', 'Development', '2020-04-01 00:00:00.000'),
     (2001, 'Sol', 'Fairy', 'Marketing', '2020-04-01 00:00:00.000'),
     (2002, 'Jiyoung', 'Magician', 'Marketing', '2020-04-01 00:00:00.000'),
     (1002, 'Hyeona', 'Theif', 'Development', '2020-04-01 00:00:00.000'),
     (1003, 'Soyoung', 'Chief', 'Development', '2020-04-01 00:00:00.000')
    ]
)

# conn.commit()를 통해 변경사항을 저장합니다.
conn.commit()
# conn.close()를 통해 db와의 연결 해제합니다.
conn.close()

OperationalError: table employee_data already exists

In [3]:
# employee.db 연결
conn = sqlite3.connect("employee.db")

# cursor를 생성합니다.
cur = conn.cursor()

# cur.excute를 이용해 SELECT 쿼리를 실행합니다.
cur.execute("SELECT * FROM employee_data")

# cur.execute를 통해 가져온 모든 결과의 행을 가져와 리스트로 가져온다.
rows = cur.fetchall()

# 반복문을 통해 하나씩 row를 출력한다.
for row in rows:
    print(row)
    
# conn.close()이용해 db와의 연결을 해제합니다.
conn.close()

(1001, 'Donghyun', 'SOMJANG', 'Development', '2020-04-01 00:00:00.000')
(2001, 'Sol', 'Fairy', 'Marketing', '2020-04-01 00:00:00.000')
(2002, 'Jiyoung', 'Magician', 'Marketing', '2020-04-01 00:00:00.000')
(1002, 'Hyeona', 'Theif', 'Development', '2020-04-01 00:00:00.000')
(1003, 'Soyoung', 'Chief', 'Development', '2020-04-01 00:00:00.000')

In [4]:
conn.close()

In [5]:
# 먼저 DataFrame를 사용하기위해 pandas를 import 하기
import pandas as pd

# employee.db 연결하기
conn = sqlite3.connect("employee.db")

# cursor를  생성하기
cur = conn.cursor()

# cur.execute를 통해 SELRCT 쿼리 실행
cur.execute("SELECT * FROM employee_data")

# 행 데이터를 가져오기
rows = cur.fetchall()

# columns열 이름을 가져오기
cols = [column[0] for column in cur.description]

# 코드를 활요하여 DataFrame을 만들어주기
data_df = pd.DataFrame.from_records(data=rows, columns=cols)

# conn.close()이용해 db와의 연결을 해제합니다.
conn.close()

data_df

     id      name  nickname   department          employment_date
0  1001  Donghyun   SOMJANG  Development  2020-04-01 00:00:00.000
1  2001       Sol     Fairy    Marketing  2020-04-01 00:00:00.000
2  2002   Jiyoung  Magician    Marketing  2020-04-01 00:00:00.000
3  1002    Hyeona     Theif  Development  2020-04-01 00:00:00.000
4  1003   Soyoung     Chief  Development  2020-04-01 00:00:00.000

In [27]:
conn = sqlite3.connect("employee.db") 

cur = conn.cursor() 

# conn.execute에 DROP 쿼리를 넣어 실행
conn.execute('DROP TABLE employee_data')

conn.close()